.footer{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 15px 0px 15px;
    color: black;
    position: relative; /* o absolute, fixed, o sticky */
    z-index: 1000; /* cualquier número alto */
}
.start{
    position: relative;
    margin-top: -34px;
    width: 80px;
    height: 24px;
    padding-right: 4px ;
    text-align: right;
    border-right: 2px solid rgb(29, 28, 28);
    border-bottom: 2px solid rgb(29, 28, 28);
    border-left: 2px solid rgb(142, 141, 141);
    border-top: 2px solid rgb(142, 141, 141);
}
.win{
    position: relative;
    padding-top: 30px;
}
.clock{
    font-size: 14px;
    position: relative;
    margin-top: 1px;
    width: 80px;
    height: 24px;
    padding-right: 4px ;
    text-align: center;
    border-right: 2px solid rgb(142, 141, 141);
    border-bottom: 2px solid rgb(142, 141, 141);
    border-left: 2px solid rgb(29, 28, 28);
    border-top: 2px solid rgb(29, 28, 28);

}