@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
.quest{
    background-color: white;
    border-radius: 5px;
    color: blue;
    padding: 0 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.chat{
    color: black;
}

.userMessage {
    text-align: left;
    margin: 10px 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}
  
.botMessage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.botAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #f0f0f0;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.button{
    padding: 0px 2px;
    border-radius: 0px;
    text-align: center;
    width: 75px;
    text-align: center;
    background-color: gray;
    margin-left: 2px;
}

.input{
    border-radius: 2px;
}

.burbuja {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;

  }
  
  .burbuja:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -15px;
    top: 50%;
    border: 15px solid;
    border-color: #f0f0f0 transparent transparent transparent;
  }