.containerModal{
    position: fixed;
    max-width: 375px;
    max-height: 550px;
    bottom: 0;
    left: 925px;
}
.colorMSP{
    color: black !important;
}
.modal{
    width: 375px;
    height: 375px;
}
.messageM, .token{
    color: white;
    font-size: 20px;
    bottom: 310px;
    right: 150px;
    position: relative;
    margin-left: 200px; 
}
.textB{
    position: relative;
    margin-bottom: -64px;
    margin-left: 12px;
}
.memes{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -504px;
    margin-left: 55px;
    height: 323px;
    overflow-x: hidden;
}
.imgMemes{
    width:250px;
    padding-right: 45px;
}
/* SCROLL BAR*/
/* Esto aplica el estilo a todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 15px;  
    background-color: white;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(173, 173, 173); 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }