.container{
    /* position: fixed;
    max-width: 560px;
    height: 150px;
    top: 150px;
    left: 400px; */
    max-width: 50%;
    position: absolute;
    left: 320px;
    top: 150px;
}

.bg-custom{
    background-color: #000;
}

.messageM{
    color: white;
    font-size: 12px;
    bottom: 350px;
    right: -10px;
    position: relative;
    margin-left: 2px; 
}

.select{
    color:black;
    background-color:white;
}

.text{
    color: white;
}

.icon-contract{
    width: 28px;
    margin-left: 3px;
}

.aling-item{
    display: flex;
    align-items: center;
}
@media (min-width: 1600px) {
    .container{
        width: 50%;
    }
    .select{
        width: 60px;
        height: 35px;
    }

    .text{
        font-size: 15px;
    }
}