.container-token{
    position:absolute;
    max-width: 30%;
    left: 770px;
}

.bg-custom{
    background-color: #000;
}

.text{
    color: white;
}

.token-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px;
}
@media only screen and (min-width: 1650px) {
    .container-token{
        width: 80%;
    }
    
    .token-body{
        font-size: 22px;
    }
}