@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
  /* background-image: url("./assets/Diseño sin título.gif"); */
  background-size: "cover";
  height: "100vh";
  width: "100vw";
  font-family: "Pixelify Sans", sans-serif;
}

.container {
  display: flex;
  height: 93.5vh;
  overflow-x: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.container img {
  /* width: 50%; */
  margin: 5px 0;
}

.containerMini {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  text-align: center;
}

.containerMini div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .containerMini div p {
  margin-top: 0px;
} */

/* Rocket animation */
.rocket {
  position: fixed;
  bottom: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 100%);
  animation: rocket 3s ease-in-out forwards;
}

@keyframes rocket {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
    width: 30vw;
    height: 52vw;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 52vw;
  }
}
/* Fire animation */
.fire {
  position: fixed;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 100%) rotate(180deg);
  animation: fire 3.4s ease-in-out forwards;
}

@keyframes fire {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%) rotate(180deg);
    width: 25vw;
    height: 25vh;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 25vw;
    height: 25vh;
  }
}

.button{
  margin-top: 2px;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  background-color: red;
}

/* SCROLL BAR*/
/* Esto aplica el estilo a todas las barras de desplazamiento */
::-webkit-scrollbar {
  width: 15px;  
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(173, 173, 173); 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173); 
}

.hovers:hover{
  cursor: pointer;
}

/* Iconos */
.icons{
  width: 120px;
  height: 95px;
  padding: 0px;  
}

.twitter{
  width: 110px;
  height: 115px;
}

@media only screen and (min-width: 1650px) {
  .icons{
    width: 140px;
    height: 115px;
  }
}

/* Titulos */
.titulos{
  color: white;
  font-size: 7px;
  font-weight: bold;
  margin-top: -10px;
}